{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">

  <title>{% block title %} {% endblock %}</title>
</head>
<body>
          <header>
              <div class="logo">
                <img src="{% static 'img/motel do guri.png' %}" alt="logo">
              </div>
          </header>
          <nav class="menu">
          <ul>
            {% if boleano == 1 %}<!--se estivermos nas paginas da suite faça: -->
            <li><a href="{% url 'home'%}">Home</a></li>
            {% endif %}            
            <li><a href="{% url 'cardapio'%}">Cardápios</a></li>
            <li><a href="https://api.whatsapp.com/send?phone=5521965958206&text=Ol%C3%A1,%20Gostaria%20de%20saber%20mais%20sobre%20as%20su%C3%ADtes%20!" target="_blank">WhatsApp</a></li>
          </ul>
          </nav>

  <main>
    {% block content%}
    {% endblock%}

    {% block botao %}
      {% if boleano == 1 %}<!--se estivermos nas paginas da suite faça: -->
        <a href=" {% url 'cadastro' %}"><button type="submit" class="btn-reserva">Reservar</button></a>
      {% endif %}
    {% endblock %}    
    
  </main> 

  <footer>
      <img class="logo-footer" src="{% static 'img/logo.png' %}" alt="logo">
      <h4>Aplicação Web desenvolvida por Wesllen Brasil, Juan de Souza, Luiz Otavio e Luis Gustavo (Alunos de Senac Niterói)</h4>
  </footer>
</body>
</html>