{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
  <main>
    <section class="banner">
      <h4>» Peça agora e receba na sua suíte «</h4>
      <hr>
    </section>
    <section class="cardapio">
      <h2>Comidas</h2>
      <ul>
        <li>
          <img src="{% static 'img/comida.jpg' %}" alt="jantar">
          <h3 class="cardapio-h3">Jantar</h3>
        </li>
        <li>
          <img src="{% static 'img/pastel.jpg' %}" alt="pastel">
          <h3 class="cardapio-h3">Pastel</h3>
        </li>
        <li>
          <img src="{% static 'img/pizza.jpg' %}" alt="Pizza">
          <h3 class="cardapio-h3">Pizza</h3>
        </li>
        <li>
          <img src="{% static 'img/hamburguer.jpg' %}" alt="Hamburguer">
          <h3 class="cardapio-h3">Hamburguer</h3>
        </li>
        <li>
          <img src="{% static 'img/batata.jpg' %}" alt="Batata">
          <h3 class="cardapio-h3">Batata Frita</h3>
        </li>
      </ul>
      <hr>
      <h2>Bebidas</h2>
      <ul>
        <li>
          <img src="{% static 'img/agua.jpg' %}" alt="agua">
          <h3 class="cardapio-h3">Agua</h3>
        </li>
        <li>
          <img src="{% static 'img/fanta.jpg' %}" alt="fanta">
          <h3 class="cardapio-h3">Fanta Laranja</h3>
        </li>
        <li>
          <img src="{% static 'img/vinho.jpg' %}" alt="vinho">
          <h3 class="cardapio-h3">Vinho</h3>
        </li>
        <li>
          <img src="{% static 'img/vodka.jpg' %}" alt="vodka">
          <h3 class="cardapio-h3">Vodka</h3>
        </li>
        <li>
          <img src="{% static 'img/wisky.jpg' %}" alt="wisky">
          <h3 class="cardapio-h3">Wisky</h3>
        </li>
      </ul>
      <hr>
      <h2>Chocolates</h2>
      <ul>
        <li>
          <img src="{% static 'img/mm.jpg' %}" alt="m&m">
          <h3 class="cardapio-h3">m&m</h3>
        </li>
        <li>
          <img src="{% static 'img/bis.jpg' %}" alt="bis">
          <h3 class="cardapio-h3">Bis</h3>
        </li>
        <li>
          <img src="{% static 'img/talento.jpg' %}" alt="talento">
          <h3 class="cardapio-h3">Talento</h3>
        </li>
        <li>
          <img src="{% static 'img/kitkat.jpg' %}" alt="kitkat">
          <h3 class="cardapio-h3">Kitkat</h3>
        </li>
        <li>
          <img src="{% static 'img/barrachocolate.jpg' %}" alt="lacta">
          <h3 class="cardapio-h3">Lacta</h3>
        </li>
      </ul>
    </section>
  </main>
{% endblock %}

<footer>
  <img class="logo-footer" src="{% static 'img/logo.png' %}" alt="logo">
  <h4>Aplicação Web desenvolvida por Wesllen Brasil, Juan de Souza, Luiz Otavio e Luis Gustavo (Alunos de Senac Niterói)</h4>
</footer>