{% extends "base.html" %}

{% block title %} afrodit {% endblock %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<main>
  <div class="content-suites">
      <div class="cabecalho">
        <h3>Suíte Vibes</h3>
        <p>Uma suíte com uma iluminação incrível, onde o controle é todo feito através da Alexa <br>
           Venha conhecer a Suíte Vibes.</p>
      </div>

    <div class="img-suites1">
      <img src="{% static 'img/Vibes_1.jpeg' %}" alt="" style=border-radius:20px;>
      <img src="{% static 'img/Vibes_2.jpeg' %}" alt="" style=border-radius:20px;>
      <img src="{% static 'img/Vibes_3.jpeg' %}" alt="" style=border-radius:20px;>
    </div>

    <div class="descricao">
      <h3>Você vai encontrar</h3>
      <h6>2 duchas</h6>
      <h6>Ar condicionado Split</h6>
      <h6>Banheiro Privativo</h6>
      <h6>Cama king</h6>
      <h6>Controle de iluminação por voz ( Alexa)</h6>
      <h6>Espelho redondo c iluminação especial</h6>  
      <h6>Frigobar</h6>
      <h6>Garagem Privativa</h6>
      <h6>Hidromassagem</h6>
      <h6>Hidromassagem c Iluminação especial</h6>
      <h6>Iluminação em led com opções de cores</h6>
      <h6>Luz Negra</h6>
      <h6>Mesa de refeição dentro da suíte</h6>
      <h6>Pagamento privativo (sem contato)</h6>
      <h6>Pendente com iluminação especial</h6>
      <h6>Som FM e JBL com conexão Bluetooth</h6>
      <h6>Tv 4k com Sky (esporte, filmes)</h6>
      <h6>Wi-Fi</h6>
    </div>
  </div>
</main>
{% endblock %}