@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", serif;
}
  
body{
    background: #f5e4f8;
    font-family: Arial, sans-serif;
}
  
header{
    background-image: url('img/Banner.png');
    background-size: cover;
    height: 20vh;
    background-position: center;
    text-align: center;
    color: #fff;
    background-color: #1d0c20;
    padding: 20px;
}

.logo {
    margin: 0 auto;
}

.logo img {
    width: 290px;
    height: auto;
}

.suites{
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    color: #7037cd;
    padding: 20px;
}

.menu{
    text-align: center;
    justify-content: center;
    font-size: 40px;
    color: #fff;
    background-color: #651f71;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
  
nav a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

nav a:hover{
    transition: 0.4s;
    color: #1d0c20;
}
  
.img-suites{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.img-suites1{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.img-suites1 img{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    gap: 40px;
}

.logo-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.container-cards {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    text-align: center;
    padding: 50px;
    background-color: #fff;
    padding: 20px;
    margin: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-reserva{
    display: block;
    width: 410px;
    margin: 0 auto;
    text-align: center;
    background-color: #7037cd;
    color: #fff;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
}
  
.card button {
    width: 410px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #7037cd;
    color: #fff;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
}
  
.card button:hover {
    transition: 0.5s;
    background-color: #7943cf;
}

footer{
    font-size: ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: -2200px;
    text-align: center;
    color: #fff;
    background-color: #1d0c20;
    padding: 20px;
}

.logo-footer{
    height: 100px;
    width: 100px;
}

.descricao{
    padding-top: 40px;
    display: center;
    text-align: center;
}

.cabecalho{
    padding-top: 40px;
    display: center;
    text-align: center;
}

.h2{
    margin: 60px 20px;
    text-align: center;
    color: #333;
}

.h4{
    margin: 20px;
    text-align: center;
    color: #333;
}

.formstyle{
    font-family: "Poppins", serif;
    background-color: beige;
}

/* Cardapio */
  
.cardapio {
    margin-top: 20px;
}
  
.cardapio ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.cardapio li {
    margin: 10px;
    width: 200px;
}
  
.cardapio img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardapio img:hover{
    transform: rotate(1deg);
    border: 3px solid rgba(0, 0, 0, 0.1)
}
  
.cardapio h2, h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 10px;
}
  
.cardapio-h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 10px;
}

@media(mix-width: 500px){
    img-suites{
        width: 100px ;
        height: 100px ;
    }

    .card button{
        width: 10vw;
    }

}